@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background: #1b1c1c;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
